<div class="frame-form">
  <div *ngIf="modelForm" class="form-container" >
    <h4 class="title-form">{{titleForm}}</h4>
    <div class="body-form">
      <app-input *ngFor="let model of modelForm.elementsForm" [model]="model"></app-input>
      
      <div class="btn-container">
        <button class="btn-class" (click)="modelForm.event()">Accept</button>      
      </div>    
    </div>
  </div>
</div>

