.frame-form {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 2px lightgray;
  height: auto;
  background-color: #fff;
}

.form-container {
  height: auto;
  padding: 5px;
  width: 100%;
}

.form-container .title-form {
  height: 30px;
  text-align: center;
  display: block;
}

.body-form {
  height: 100%;  
}

.btn-container {
  height: 32px;
}
.btn-class {
  margin-top: 6px;
  height: 32px;
  width: 60px;
  float: right;
  
  background-color: lightseagreen;
  color: #fff;
  border: none;
  border-radius: 4px; 
}