.element-form {
  margin-top:6px;
  /*background-color: lightgreen;
  border-bottom: solid 1px;*/
}
.label-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 6px;
  padding-left: 6px;
}

.input-content {
  padding-right: 6px;
  padding-left: 6px;
}

.alignleft {
  float: left;
  display: block;
}

.alignright {
  float: right;
  display: block;
}

.blockview {
  float: left;
  display: block;
  width: 100%;
}

.stacked {
  width: 100%;
  /*background-color: aqua;*/
  display: block;
}

.read-only-class {
  border: solid 0.3px transparent;
  background-color: transparent;
  color: dimgray;
}