<div class="element-form" appAlignerDirective [height]="heightItem" [isByPercentage]="true">
  <label appAlignerDirective
    [isByPercentage]="true"
    [width]="widthLabelElement"
    [height]="fontSizeElements"
    [fontSize]="fontSizeItem"
    [alingnText]="model.labelAlignText"
    [ngClass]="{ alignright: isAlignInverse==true, alignleft: isAlignInverse == false }"
    class="label-content">
    {{model.label}}
  </label>

  <input *ngIf="model.type != 'textarea' && model.type != 'select'"
    type="{{model.type}}"    
    [readonly] = "isReadOnly"
    appAlignerDirective 
    [nameDirective]="getName()"
    [isByPercentage]="true"
    [width]="widthInputElement"
    [alingnText]="'left'"
    [height]="fontSizeElements"
    [fontSize]="fontSizeItem"    
    placeholder="{{model.placeholder}}"
    [ngClass]="{ alignright: isAlignInverse==true, alignleft: isAlignInverse == false, 'read-only-class': isReadOnly  }"
    [(ngModel)]="model.value"
    [checked] ="checkedValue"
    (click)="changeCheck()"
    class="input-content"/>

  <textarea  *ngIf="model.type == 'textarea'"
    cols="30"
    rows="100"
    [readonly] = "isReadOnly"
    appAlignerDirective
    [isByPercentage]="true"
    [typeElement] = "model.type"
    [width]="widthInputElement"
    [alingnText]="'left'"
    [height]="90"
    [fontSize]="fontSizeItem"
    placeholder="{{model.placeholder}}"
    [ngClass]="{ alignright: isAlignInverse==true, alignleft: isAlignInverse == false, 'read-only-class': isReadOnly  }"
    [(ngModel)]="model.value"
  >
  </textarea>

  <select *ngIf="model.type == 'select'"
    [disabled] = "isReadOnly"
    [ngClass]="{ alignright: isAlignInverse==true, alignleft: isAlignInverse == false, 'read-only-class': isReadOnly  }"
    [(ngModel)]="model.value"
  >
    <option [ngValue]="option" *ngFor = "let option of model.options">{{option}}</option>          
  </select>  
</div>
<div style="clear: both;"></div>
