<div class="main-container" >
  <h2 class="title-form-builder">Building your own Form</h2>
  <div class="body-leftside">
    
    <div class="build-options">
      <app-custom-form [modelForm]="modelCreator"></app-custom-form>
    </div>
    <div class="model-container">
      <pre>{{myNewForm | json}}</pre>
    </div>
    
  </div>

  <div class="body-rightside">
    <app-custom-form [modelForm]="myNewForm"></app-custom-form>    
  </div>
</div >
