.main-container {
  height: auto;
  width: 100%;
  background-color: whitesmoke;
  position: absolute;
}

.title-form-builder {
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  box-shadow:0px -1px 6px 2px lightslategrey
}

.body-leftside {
  width:  600px;
  height: calc(100% - 40px);
  float: left;  
  box-shadow:0px 1px 8px 0px lightslategrey
}

.body-rightside {
  width:  calc(100% - 600px);
  height: calc(100% - 40px);  
  float: left;
  
}

.build-options {
  width: 100%;
  height: 420px;
  float: left;  
  box-shadow: 0px 0px 0px -6px  lightslategrey;
}

.model-container {
  width: 100%;
  height: auto;
  float: left;
  font-size: 12px;
  background-color: #fff;
  overflow-y: auto;
}